/.idea/Lesson25.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
__pycache__/animal.cpython-310.pyc
__pycache__/dog.cpython-310.pyc
/Python_ПЗ_Модуль_11_ООП_ч_1.1.pdf
/Python_ДЗ_Модуль_11_ООП_ч_1.pdf
/.idea/shelf/Uncommitted_changes_before_Checkout_at_3_14_2024_10_15_AM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_3_14_2024_10_15_AM__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_3_14_2024_10_15_AM_[Changes]/shelved.patch
